<%= render template: "shared/nav_bar" %>

<div class="container">


<script type="text/template" id="start-end-points">
	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-3 col-lg-3"> </div>
		<label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Starting Point</label>
		<input type="text" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 start" name="starting_point"/>
	</div>
	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-3 col-lg-3"></div>	
		<label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Ending Point</label>
		<input type="text" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 end" name="ending_point"/>
	</div>
	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-3 col-lg-3"></div>
		<a href="#search" class="col-xs-5 col-sm-5 col-md-5 col-lg-5 btn btn-primary getResults">Trans.it!</a>
	</div>
</script>

<script type="text/template" id="spinningWheel">
<%= image_tag "loading.gif" %>
</script>



<script type="text/template" id="location-names">
		<p class="search-results-location-name"><strong>Start: </strong><%%= startLocation %> <br>
		<strong>End: </strong><%%= endLocation %></p>
</script> 

<script type="text/template" id="weather-view">
	<img src='<%% print(icon) %>'> <%%= conditions %>, <%%= temp %>°F
</script>

<script type="text/template" id="walking-view">
	<a href="#walking?startLat=<%%= startLat %>&startLng=<%%= startLng %>&endLat=<%%= endLat %>&endLng=<%%= endLng %>"><span></span></a>
	<%= image_tag "walk_symbol.png" %>
	<%%= distance %>, <%%= time %>, <%%= calories %>
</script>

<script  type="text/template" id="transit-view">
	<%= image_tag "transit_symbol.png" %>
	<a href="#transit?startLat=<%%= startLat %>&startLng=<%%= startLng %>&endLat=<%%= endLat %>&endLng=<%%= endLng %>"><span></span></a>
	<%% if (transit_icon) {%>
		<img src='<%% print(transit_icon) %>'>
	<%% } %>
	<%% if (route_icon) {%>
		<img src='<%% print(route_icon) %>'>
	<%% } %>
 <%%= duration %>, <%%= distance %>
</script>

<script type="text/template" id="biking-view">
	<a href="#biking?startLat=<%%= startLat %>&startLng=<%%= startLng %>&endLat=<%%= endLat %>&endLng=<%%= endLng %>"><span></span></a>
	<%= image_tag "bike_symbol.png" %>
	<%%= distance %>, <%%= time %>, <%%= calories %>
</script>

<script type="text/template" id="taxi-view">
		<a href="#taxi?startLat=<%%= startLat %>&startLng=<%%= startLng %>&endLat=<%%= endLat %>&endLng=<%%= endLng %>"><span></span></a>
	<%= image_tag "taxi_symbol.png" %><%%= price %>
</script>


<script type="text/template" id="google-maps-view">
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="map-container">
	</div>
</script>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="directions-panel"></div>
	</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key="+ GOOGLE_MAPS_API_KEY></script>


<script type="text.template" id="all-results">
<a href="#searchResults?startLat=<%%= startLat %>&startLng=<%%= startLng %>&endLat=<%%= endLat %>&endLng=<%%= endLng %>" class="btn btn-primary">Back to All Results</a>
</script>


